@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
}


body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #F2D230;
}


.container {
    width: 80%;
    margin: auto;
}


#header {
    background: -moz-linear-gradient(top, #3D4573 0%, #F2D230 100%);
    background: -webkit-linear-gradient(top, #3D4573 0%, #F2D230 100%);
    background: -o-linear-gradient(top, #3D4573 0%, #F2D230 100%);
    background: linear-gradient(to bottom, #3D4573 0%, #F2D230 100%);
    color: white;
    padding: 20px 0;
}

.logo h1 {
    margin: 0;
    font-size: 2em;
}

.logo h1 span {
    color: #F2D230;
}


.navlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    /* removes the bullet points and eliminates the margins and spacing within the elements 
       display is set to flex to adjust according to window size and justify-content is used
       to evenly lay out the lists across the header
    */
}

.navlist ul li {
    display: inline;
}
/* makes sure that the navigation lists are evenly on the same line*/


.navlist ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;

    /* removes the underline on the links and sets the font color to white and ajust the spacing on the link buttons */
}

.navlist ul li a:hover {
    background-color: #F2D230;
    color: #3D4573;
    border-radius: 4px;
}

/* Home Section */
#Home {
    padding: 60px 0;
    text-align: center;
}

#Home h1 {
    font-size: 3em;
    color: #3D4573;
    font-weight: 600;
    /*font weight is added to the h1 tag for the index page to make it more visible*/
}

#Home h4 {
    font-size: 1.5em;
    color: #3D4573;
    font-weight: 400;
}

#Home p {
    font-size: 1.2em;
    color: #3D4573;
    width: 60%;
    margin: 20px auto;
    font-weight: 300;
}

#linkedin {
    width: 50px;
    margin-top: 10px;
    /*linkedin icon is smaller and the margin on the top to add space between it and the paragraph*/
}


#wrapper {
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-style: dotted;
    border-color: #260101;

    /* margin used to centre the form and 
    add space between the form and the navigation header
    
    */
}

#wrapper h1 {
    font-size: 2.5em;
    color: #3D4573;
    text-align: center;
    margin-bottom: 20px;

    /*h1 text aligned to the centre and ajust space between it and the fields below*/
    
}

#wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* space is added between the fields and they are set in 1 colmun flex property is 
    added to make the form flexible depending on view size
    */
}

#wrapper input[type="text"],
#wrapper input[type="email"],
#wrapper input[type="tel"],
#wrapper textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #3D4573;
    border-radius: 5px;
    font-size: 1.1em;
}
/* adding width and style to the field and place holder*/

#wrapper input[type="submit"] {
    background-color: #3D4573;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#wrapper input[type="submit"]:hover {
    background-color: #F2D230;
    color: #3D4573
}

/*input [type="submit"] is used to style the submit button and transition is added for hovering*/

footer {
    background-color: #3D4573;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}
/*padding is set to add space the between the footer 
and text vertically and to remove interal margins horizontally

*/
footer ul {
    display: flex;
    justify-content: center;
    padding: 0;

    /*makes the footer flexible and removes vertical padding and makes sure to centre the list while making it flexible*/
}

footer ul li {
    list-style: none;
    margin: 0 15px;

    /*horizontal margin is added between each of the links to give them space between each other*/
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer h5 {
    font-size: 0.9em;
}

/* styling is added to the contents within the footer */

video {
    display: block;
    margin: 20px auto;
    border: 4px solid #3D4573;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;

    /*video adjusted to fit in its container and 
    make it centered while at the same time maintaining the aspect ratio 
    */
    
    
}

button {
    background-color: #3D4573;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* button is styled along with spacing and margins & a transition for the hover effect*/


}

button:hover {
    background-color: #F2D230;
    color: #3D4573;


    /* hovering effect for majority of the buttons used across the website */


}

.wrapper {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border-style: dotted;
    border-color: #260101;
    background: linear-gradient(45deg, silver, #F2A057);

    /*style about page*/
}

.wrapper h1 {
    font-size: 2.5em;
    color: #3D4573;
    margin-bottom: 20px;

    /*changed font size and color to match with the rest of the contents 
    and added a margin on the bottom to add space between the paragraphs 
    and the h1 tag
    
    */
}

.wrapper img {
    width: 150px;
    margin-bottom: 20px;
}

.wrapper p {
    font-size: 1.2em;
    color: #3D4573;
    line-height: 1.5;

    /* spacing added between the height of the lines */
    
    
}

#wrapper input[type="reset"]{

    background:none;

    border: none;
    color:#3D4573;

    /* makes the reset button have no background 
    and only the purple font appears 
    
    */



}

#wrapper input[type="reset"]:active{

    color: white;
    
    background-color:#3D4573;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    /*changes the font to white and background to purple-blueish colour with a round border with a transition to make it 
    smooth when its clicked on
    
    */
    


}



.project{

    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border-style: dotted;
    border-color: #260101;
    background: linear-gradient(45deg, silver, #F2A057);
    background: -moz-linear-gradient(45deg, silver, #F2A057);
    background: -webkit-linear-gradient(45deg, silver, #F2A057);
    background: -o-linear-gradient(45deg, silver, #F2A057);

    /* sets dimensions for project boxes and adds
    a bit of shadows to it margin used to add some vertical spacing
    and to centre the elements w/in it horizontally
     */


}

.header-container{

    width: 80%;
    height: 10%;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border-style: dotted;
    border-color: #260101;

     /* style is set similar to the content boxes but this time the height
     is reduced to, as there isnt much content
     */
}




.project h3,h4,p{
    color:#3D4573;

}

#project-head {
    color: #3D4573;
    text-align:center; 
    font-size: 2.5em;
    margin-bottom: 20px;

    /*
    text is styled, and margin set to bottom to lift the text up the container
    */




    
}

.header-container{
    background: linear-gradient(45deg, silver, #F2A057);
    background: -moz-linear-gradient(45deg, silver, #F2A057);
    background: -webkit-linear-gradient(45deg, silver, #F2A057);
    background: -o-linear-gradient(45deg, silver, #F2A057);
}

#wrapper{
    background: linear-gradient(45deg, silver, #F2A057);
    background: -moz-linear-gradient(45deg, silver, #F2A057);
    background: -webkit-linear-gradient(45deg, silver, #F2A057);
    background: -o-linear-gradient(45deg, silver, #F2A057);
}

/* 
.Arab-Character-Design-1-hex { color: #3D4573; }
.Arab-Character-Design-2-hex { color: #F2D230; }
.Arab-Character-Design-3-hex { color: #F2A057; }
.Arab-Character-Design-4-hex { color: #F29B88; }
.Arab-Character-Design-5-hex { color: #260101; }
*/
